<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <script>
        let convertedFiles = [];
        for (let i = 0; i < localStorage.length; i++) {
            let key = localStorage.key(i);
            if (key.startsWith('item_')) {
                let item = JSON.parse(localStorage.getItem(key));
                convertedFiles.push(`
                    <div class="bg-red-500 text-white rounded flex items-center justify-between overflow-hidden h-14 max-w-sm mx-auto" id="${key}">
                        <div class="flex items-center h-full w-full">
                           <div class="flex items-center max-w-[80%]">
                                <button type="button" disabled class="flex-shrink-0 w-8 h-8 flex items-center justify-center ml-2 text-3xl">⬇️</button>
                                <span id="videoName" class="flex-grow truncate px-3 text-sm">${item.fileName}</span>
                            </div>
                            <div class="flex-shrink-0 flex space-x-1 pr-2">
                                <button class="w-6 h-6 flex items-center justify-center hover:scale-105" onclick="copyUrlValue('${item.url}')">
                                <input id="hidden_url" type="text" value="${item.url}" class="hidden">
                                📁
                                </button>
                                <button class="w-6 h-6 flex items-center justify-center hover:scale-105"
                                        onclick="removeItem('${key}')"
                                        hx-target="#${key}"
                                        hx-swap="outerHTML">🗑️</button>
                            </div>
                        </div>
                    </div>
                `);
            }
        }
        document.getElementById('result').innerHTML = convertedFiles.join('');
    </script>
</body>

</html>